<p class="alert alert-danger">This is what error text looks like</p>
<p class="alert alert-success">This is what valid text looks like</p>
<p class="alert alert-warning">This is what warning text looks like</p>
<p class="alert alert-info">This is what information text looks like.</p>