wp-config.php
Capfile
Gemfile
*.lock
config/*
vendor/*
.DS_Store
*.scssc
styleguide/.sass-cache/
!styleguide/public/listeners/*
!styleguide/public/styleguide/*
!styleguide/public/patterns/**/*
!styleguide/public/data/*.js
config.ini
latest-change.txt
*-ck.js
wp-content/updraft/*
wp-content/uploads/*
styleguide/source/css/style.css
.htaccess
.capistrano
*/scss_cache/*
*.meta
wp-content/themes/summit/css/scss_cache/98e7a032e351b261671a6526d5950cd1.css
