wp-config.php
*.lock
config/*
vendor/*
.DS_Store
*.scssc
config.ini
latest-change.txt
*-ck.js
wp-content/updraft/*
wp-content/uploads/*
.htaccess
*/scss_cache/*
*.meta
wp-content/themes/summit/css/scss_cache/98e7a032e351b261671a6526d5950cd1.css