<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: rgba(1, 134, 81,1)"></span>
		<span class="sg-label"><strong>$brand-primary</strong><br/>rgba(1, 134, 81,1)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgba(1, 87, 62,1);"></span>
		<span class="sg-label"><strong>$brand-secondary</strong><br/> rgba(1, 87, 62,1);</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgba(0, 136, 204,1);"></span>
		<span class="sg-label"><strong>$link-color</strong><br/>rgba(0, 136, 204,1)</span>
	</li>
		<li>
		<span class="sg-swatch" style="background: rgba(239, 166, 5,1);"></span>
		<span class="sg-label"><strong>$brand-warning</strong><br/> rgba(239, 166, 5,1);</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgba(223, 82, 80,1);"></span>
		<span class="sg-label"><strong>$brand-danger</strong><br/>rgba(223, 82, 80,1)</span>
	</li>
</ul>