{% extends "base.twig" %}
{% block source %}archive-default.twig{% endblock %}
{% block layout %}grid{% endblock %}
{% block content %}

{% block jumbo %}
{% set jumbo_text = archive_desc|e('wp_kses_post') %}
{% set jumbo_title = archive_singular %}
{% include "jumbotron.twig" %}
{% endblock %}

<div class="card-deck">
	{% block postfilter %}
		{% for post in posts if post.parent==0 %}
				{% include "pane-grid.twig" %}
		{% endfor %}
	{% endblock %}
</div>
{% endblock %}