{% extends "base.twig" %}
{% block source %}archive-default.twig{% endblock %}
{% block layout %}grid{% endblock %}
{% block content %}
<div class="">
	
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">{% block title %}***{% endblock %}</h1>
			<p class="lead">{% block description %}***{% endblock %}</p>
		</div>
	</div>	
	<div class="card-deck">
		{% block postfilter %}
			{% for post in posts if post.parent==0 %}
					{% include ["pane-grid.twig"] %}
			{% endfor %}
		{% endblock %}
	</div>
</div>
{% endblock %}