{% extends "archive-default.twig" %}
{% block description %}
	Our Programs are impactful, <small>intentional, and affordable.  Best of all, our programs are transformative! Whether you’re an educator, athlete, culinary entrepreneur, developing leader, or a student scholar, you’ll be certain to discover a program that has been purposefully designed with YOU in mind. Want to know more? Follow the links or <a href="/contact-us">reach out!</a></small>
{% endblock %}