{% extends "archive-default.twig" %}
{% block title %}Campus History{% endblock %}
{% block description %}
	Our history is rich and diverse. The campus began a tiny Bible college, at one point was home to a Liberian prince, has been a variety of colleges and universities, and is home to thousands of local graduates. We work hard to honor our past while embracing the future.
{% endblock %}
{% block postfilter %}
	<div id="data" class="d-none">{{function("historyJSON")}}</div>
	<div id="history-timeline"></div>
{% endblock %}