{% extends "base.twig" %}
{% block source %}category-default.twig{% endblock %}
{% block layout %}scroll{% endblock %}
{% block content %}
	<div class="row d-block">
		<div class="carousel slide" data-ride="carousel" id="carouselIndicators">
			<ol class="carousel-indicators">
				{% for child in cat.children %}
					<li data-target="#carouselIndicators" data-slide-to="{{loop.index0}}" class="{%if loop.index == 1 %}active{%endif%}"></li>
				{% endfor %}
			</ol>
			<div class="carousel-inner">
				{% for child in cat.children %}
				<div class="carousel-item {%if loop.index == 1 %}active{%endif%}">
					<div class="bg-img"></div>
					<img src="{{ child.img|better_resize(2000) }}" />
					<div class="carousel-caption">
						<h1>{{ child.name }}</h1>
						<p class="lead">{{ child.description }}</p>
						<h3><a href="/partners" class="btn btn-lg btn-primary">Learn More<i class="fas fa-caret-right"></i></a></h3>
					</div>					
				</div>
				{% endfor %}
			</div>
			<a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
				<i class="fas fa-chevron-left"></i>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
				<i class="fas fa-chevron-right"></i>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
{% endblock %}