{% extends "category-default.twig" %}
{% block description %}
	At The Summit,<small> it's not just about what we do, but why we do it. By leveraging our <a href="/property">Innovative Property</a> and working with <a href="/partners">Intentional Partners</a>, we create <a href="/programs">Impactful Programs</a> that further our mission to drive progress in the 5 Pillars we have identified as vital to community transformation.</small>
	<div><a href="#row1">Learn More <img src="{{ bloginfo('template_url') }}/images/avatar-light.png" alt="The Summit"></a></div>
{% endblock %}