<!doctype html>
<html class="{% block htmlclass %}bg-blank{% endblock %}">
<head>
    <title>{{wp_title}} | The Summit</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.php/style.scss" type="text/css" media="screen" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<script type="text/javascript">
		var assets = "{{bloginfo('template_directory')}}",
			home = "{{bloginfo('url')}}";
	</script>
	{{ function('wp_head') }}
</head>