{% extends "base.twig" %}
{% block content %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">{{posts[0].title}}</h1>
			<p class="lead">{{ posts[0].content|wpautop }}</p>
		</div>
	</div>
{% endblock %}
{% block source %}page.twig{% endblock %}