{% extends "base.twig" %}
{% block source %}single.twig{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-10 offset-1 col-md-8 offset-md-2">
			{% if landing %}
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<img src="{{TimberImage(posts[0].logo).src|better_resize(1000)}}" class="img-fluid" alt="{{TimberImage(post.logo).title}}"/>
					</div>
				</div>
				<div class="row">
					{{landing.post_content|shortcodes}}
				</div>
			{% else %}
				{% for post in posts %}
					{{post.about}}
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}