html{
	background: $white;
}
blockquote {
	background: $gray-lighter;
	position: relative;
	border-left: 10px solid $primary;
	padding: 2em 0;
	@extend .col-12;
	@extend .col-md-10;
	@extend .offset-md-1;
	&:after {
		color: tint($warning,30%);
		content: '\201D';
		font-size: 130px;
		line-height: 0;
		position: absolute;
		top: 35px;
		left: 90%;
		font-family: Cooper Std Black,Georgia, serif;
		float: right;
		@extend .col-md-2;
	}
	p{
		font-weight: 900;
		@extend .col-12;
		@extend .col-md-10;
	}
	cite{
		font-style: italic;
		font-size: 1.3em;
		display: block;
		text-align: right;
		padding: 0 3em;
		color: $gray-light;
		clear: left;
		@extend .col-md-5;
		@extend .offset-md-5;
		&:before{
			content: "\2014";
		}
	}
}
mark{
	background: $warning;
}
hr{
	border: 0;
	height: 1px;
	clear: both;
	background: tint($primary,50%);
	margin: 25px 0;
}
.carousel{
	.carousel-item{
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.carousel-caption{
		text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
		top: 50%;
		transform: translateY(-50%);
		bottom: initial;
	}
	.carousel-control-prev,.carousel-control-next{
		background: none;
		font-size: $h1-font-size*2;
	}
	.bg,.full-screen {
	  background-size: cover;
	  background-position: center;
	  background-repeat: no-repeat;
	}	
}

.truncate{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.rate{
	text-transform: capitalize;
}
.popover{
	max-width: 100%;
	h5{
		margin: 3px 0;
	}
	ul{
		padding-left: 20px;
		margin-bottom: 0;
		padding-bottom: 10px;
	}
}
span.amp {
   font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
   font-size:110%;
   font-style:italic;
}

.single-programs{
	.row {
		margin-bottom: 25px;
	}
	h1,h2,h3 {
		width: 100%;
	}
	.alignright{
		@extend .ml-auto;
		@extend .col-md-6;
	}
	.alignleft{
		@extend .mr-auto;
		@extend .col-md-6;
	}	
	#content img{
		@extend .img-fluid;
	}
}
.single-programs-thriving-schools{
	$brand: rgb(250,148,35);
	#content{
		img{
			border: 10px solid $brand;
		}
		img.no-border{
			border: none;
		}
	}
	h3{
		color: $brand;
	}
}