.has-success .form-control:focus,.form-control:focus{
	border-color: $brand-primary;
	@include box-shadow(unquote("inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px " + tint($brand-primary,60%)));
	}
.gform_wrapper{
	@extend .col-md-8;
	@extend .offset-md-2;
	margin-bottom: 30px;
	>br{
		display: none;
	}
	h2{
		color: $brand-primary;
	}
	ul {
		@extend .list-unstyled;
	}
	ul.gfield_checkbox,ul.gfield_radio {
		padding-left: 30px;
	}
	li {
		@extend .form-group;
	}
	form {
		margin-bottom: 0;
	}
	label:not([for]),.gfield_label{
		@extend .h4;
	}
	.checkbox{
		input[type=checkbox]{
			@extend input[type="checkbox"];
			width: auto;
			height: auto;
		}
		label{
			padding-left: 10px;
			input[type=checkbox]{
				margin-right: 10px;
			}
		}
	}
	.radio{
		input[type=radio]{
			@extend input[type="radio"];
			width: auto;
			height: auto;
		}
		label{
			padding-left: 10px;
			input[type=radio]{
				margin-right: 10px;
			}
		}
	}
	.gfield{
		margin-bottom: 5px;
		margin-left: 0px;
		clear: both;
		@extend .row;
		@extend .col-12;
	}
	.gfield_required {
		padding-left: 1px;
		color: $state-danger-text;
	}
	.gsection{
		clear: both;
	}
	.gform_heading{
		@extend .row;
	}
	.gform_title{
		@extend h2;
	}
	.gfield_error {
		.gfield_label {
			color: $state-danger-text;
		}
		input,select,textarea {
			border-color: $brand-danger;
			background-color: $brand-danger;
			color: $brand-danger;
			@include form-control-focus($brand-danger);
		}
		
	}
	.ginput_complex{
		.name_prefix{
			@extend .col-sm-1;
		}
		.name_first{
			@extend .col-sm-2;
		}
		.name_middle{
			@extend .col-sm-2;
		}		
		.name_last{
			@extend .col-sm-2;
		}
		.name_suffix{
			@extend .col-sm-1;
		}
		.ginput_full{
			display: block;
			@extend .col-12;
		}
		:nth-child(1),.ginput_full{
			padding-left: 0 !important;
		}
		br{
			display: none;
		}
	}

	.gfield_description{
		clear: both;
		ul{
			list-style: initial;
			padding-left: 35px;
			max-height: 200px;
			-webkit-column-count:2;
			-moz-column-count: 2;
			-ms-column-count: 2;
            column-count: 2;
		}
		li{
			display: block;
			margin-bottom: 0px;
			padding-left: 0;
			margin-left: 15px;
		}
		li:before{
			content: "-";
		}
	}
	.gform_page_footer{
		padding-left: 25px;
		margin-bottom: 25px;
	}
	.gform_footer{
		max-height: 60px;
	}
	.gform_button,.button {
		@extend .btn;
		@extend .btn-lg;
		@extend .btn-primary;
	}
	.gform_submit,.gform_next_button{
		.button{
			width: 100%;
		}
	}
	.validation_error {
		@extend .alert;
		@extend .alert-danger;
	}
	.validation_message{
		margin-top: 5px;
		color: $brand-danger;
	}
	.gform_validation_container{
		display: none !important;
		position: absolute !important;
		left: -9000px;
	}
	.gform_ajax_spinner:after{
		content: "";
		margin-left: 15px;
		@extend .animate-spin;
		@extend .icon-spin1;
	}
	.datepicker_with_icon{
		padding-left: 35px;
	}
	.ui-datepicker-trigger{
		position: absolute;
		top: 53px;
		left: 25px;
		cursor: pointer;
	}
	table.gsurvey-likert td.gsurvey-likert-choice.gsurvey-likert-selected{
		background-color: $state-success-bg;
	}
	table.gsurvey-likert td.gsurvey-likert-choice.gsurvey-likert-hover{
		background-color: $link-color;
		cursor: pointer;
	}
	.gsurvey-likert tr td{
		background-color: #fff;
	}
	table.gsurvey-likert td.gsurvey-likert-choice-label{
		background-color: $brand-primary;
		color: #fff;
		font-size: 10px;
		line-height: 1em;
	}
	.gsurvey-likert-row-label{
		font-size: 10px;
		line-height: 1em;
	}
	@include media-breakpoint-up(sm) {
		.gsurvey-likert-choice-label,.gsurvey-likert-row-label{
			font-size: 14px;
		}
	}
	@include media-breakpoint-up(md) {
		.gsurvey-likert-choice-label,.gsurvey-likert-row-label{
			font-size: 16px;
		}
	}
}
.ginput_container{
	input,select,textarea {
		@extend .form-control;
	}
	textarea {
		height: auto;
	}
}
#gforms_confirmation_message {
  @extend .alert;
}
.ui-datepicker{
	@extend .popover;
	padding: 5px;
	th{
		padding: 4px;
	}
	.ui-datepicker-prev{
		cursor: pointer;
	}
	.ui-datepicker-next{
		cursor: pointer;
	}
	.ui-datepicker-title{
		padding: 0 10px;
	}
}
@include media-breakpoint-up(md) {
	.gform_wrapper{
		.gfield{
			margin-left: 15px;
		}
		table.gsurvey-likert td.gsurvey-likert-choice-label,.gsurvey-likert-row-label{
			font-size: 12px;
		}
	}
}