.category-pillars{
	.main{
		h1{
			text-align: center;
			line-height: .9em;
			small{
				font-size: 85%;
			}
		}
		@include media-breakpoint-up(md) {
			h1{
				padding: 75px 0;
				line-height: 1.1;
			}
		}
		a,a:link,a:hover{
			display: inline-block;
			padding: 20px;
			color: $brand-primary;
			text-decoration: none;
			height: 60px;
			img{
				width: auto;
				height: 100%;
				-webkit-transition: all .5s ease-in-out;
				-moz-transition: all .5s ease-in-out;
				transition: all .5s ease-in-out;
			}
		}
		a:hover{
			color: $brand-secondary;
			img{
				transform: rotate(180deg);
			}
		}
		small{
			a,a:link,a:hover{
				padding: 0;
				height: auto;
				display: inline;
				color: $link-color;
			}
			a:hover{
				color: $brand-primary;
			}
		}
	}
	h2{
		font-family: "Roboto";
		font-weight: 900;
		color: #ffffff;
		display: block;
		text-align: center;
		padding: 10px;
		@include media-breakpoint-up(md) {
			padding: 200px;	
		}
		small{
		    color: #ffffff;
			display: block;
			border-top: 1px solid #ffffff;
			margin-top: 40px;
			padding-top: 40px;	
		}
	}
	.examples{
		text-align: center;
		a{
			width: 75%;
			margin: 100px auto;
			display: inline-block;
			position: relative;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
			img{
				position: absolute;
				margin: auto;
				top: 0;
				bottom: 0;
				max-height: 200px;
			}
		}
		@include media-breakpoint-up(md) {
			a{
				width: 25%;
				margin: 150px 30px;				
			}
		}
	}
	.base{
		color: $gray;
		padding: 30px;
	}
	.text-center{
		padding: 100px;
	}
	a.btn{
		font-weight: 900;
		font-size: 42px;
	}
}