.page-room-configurator{
	li{
		list-style: none;
	}
	form{
		li{
			list-style: disc;
		}
	}
	svg{
		font-family: 'Cabin';
		font-weight: 800;
		*{
			@extend .animate-move;
		}
		#Tables{
			rect,polygon,circle{
				fill: $brand-primary;
			}
			.active{
				rect,polygon,circle{
					fill: $link-color;
				}
			}
		}
		#Podiums{
			rect,polygon,circle{
				fill: $link-color;
			}
			.active{
				rect,polygon,circle{
					fill: $link-color;
				}
			}
		}
		#Seating{
			rect,polygon,circle{
				fill: $brand-secondary;
			}
			line{
				stroke: $brand-secondary;
			}
			.active{
				rect,polygon,circle{
					fill: $link-color;
				}
			}
		}
		#Screens{
			rect,polygon,circle{
				fill: $brand-warning;
			}
			.active{
				rect,polygon,circle{
					fill: $link-color;
				}
			}
		}				
	}
	.keys{
		p{
			margin-bottom: 0;
		}
		.key-item{
			height: 20px;
		}
		.tables{
			background-color: $brand-primary;
		}
		.podiums{
			background-color: $link-color;
		}
		.seating{
			background-color: $brand-secondary;
		}
		.screens{
			background-color: $brand-warning;
		}
	}
}