html{
	background: #fafafa;
	height: 100%;
}
body{
	background: none;
	padding-top: $navbar-height + 20px;
	padding-bottom: 20px;
	overflow-x: hidden;
	min-height: 100%;		
}
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
}
h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
}
p{
	font-weight: 300;
}
h1{
	&.accent{
		font-size: 24px;
		margin-top: 10px;
		margin-bottom: 0;
	}
	&.leadertext{
		line-height: 1em;
		margin-top: 45px;
		margin-bottom: 45px;
		small{
			text-transform: none;
		}
	}
	@media (min-width: $screen-md-min ) {
		&.accent{
			font-size: 60px;
		}
	}
	@media (min-width: $screen-lg-min ) {
		&.accent{
			font-size: 80px;
		}
	}	
}
blockquote {
	background: $gray-lighter;
	position: relative;
	border-left: 10px solid $brand-primary;
	padding: 2em 0;
	@extend .col-xs-12;
	@extend .col-md-10;
	@extend .col-md-offset-1;
	&:after {
		color: tint($brand-warning,30%);
		content: '\201D';
		font-size: 130px;
		line-height: 0;
		position: absolute;
		top: 35px;
		left: 90%;
		font-family: Cooper Std Black,Georgia, serif;
		float: right;
		@extend .col-md-2;
		@extend .hidden-sm;
		@extend .hidden-xs;
	}
	p{
		font-weight: 900;
		@extend .col-xs-12;
		@extend .col-md-10;
	}
	cite{
		font-style: italic;
		font-size: 1.3em;
		display: block;
		text-align: right;
		padding: 0 3em;
		color: $gray-light;
		clear: left;
		@extend .col-md-5;
		@extend .col-md-offset-5;
		&:before{
			content: "\2014";
		}
	}
}
mark{
	background: $brand-warning;
}
hr{
	border: 0;
	height: 1px;
	clear: both;
	background: tint($brand-primary,50%);
	margin: 25px 0;
	@include background(linear-gradient(left,$body-bg, tint($brand-primary,50%), $body-bg));
}
.bg{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}
.accent{
	color: $brand-warning;
}
.btn-apply{
	position: fixed;
	top: 100px;
	right: 20px;
	z-index: 99;
}
[data-layout="grid"]{
	#content{
		position: absolute;
		min-height: 100%;
		&:before{
			content: "";
			@extend .modal-backdrop;
			@extend .animate-fade;
			top: 0;
			bottom: 0;
			opacity: 0;
			display: block;
			position: absolute;
		}
		&.backdrop:before{
			@extend .in;
			z-index: $zindex-modal - 1;
		}		
	}
	.equal{
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		word-wrap: break-word;
		.flex-child{
			overflow: hidden;
			box-shadow: 0 1px 3px rgba(0,0,0,.25);
			margin-top: 10px;
			margin-left: -15px;
			padding-left: 0;
			padding-right: 0;
			opacity: 0;
			background-color: rgba(255,255,255,1);
			@extend .animate-move;
			&>video,&>img{
				position: absolute;
				top: 0;
				left: 0;
				width: auto;
				height: 100%;
				z-index: -2;
				display: none;
			}
			.tooltip{
				@extend .animate-fade;
				margin-top: 20px;
			}
			.truncate{
			  white-space: nowrap;
			  overflow: hidden;
			  text-overflow: ellipsis;
			}
			.img-row{
				height: 100px;
				text-align: center;
				position: relative;
				padding: 10px 10px 10px 30px;
				margin-bottom: 30px;
				img{
					max-height: 100px;
					display: inline-block;
					max-width: 75%;
				}
			}
			.text-row{
				text-align: center;
				padding: 10px;
				@extend .h2;
			}
			&:after,&:before{
				@extend .animate-fade;
				content: "";
				position: absolute;
				background-repeat: no-repeat;
				display: none;
			}
			&.text-caption:before{
				font-size: $font-size-h3;
				font-weight: $headings-font-weight;
				margin: 0;
			}
			&.flipped{
				z-index: $zindex-modal;
			}
			@media (min-width: $screen-sm-min ) {
				-webkit-flex: 1 1 75%;
				flex:1 1 75%;
				margin: 1% 2.5%;
			}
			@media (min-width: $screen-md-min ) {
				-webkit-flex: 1 1 46%;
				flex:1 1 46%;
				margin: 1%;
				margin-bottom: 10px;
				padding: 20px;
				background-color: rgba(255,255,255,0);
				cursor: pointer;
				max-width: 50%;
				*{
					opacity: 0;
				}
				&:after{
					background-position: 50% 40%;
					background-size: cover;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					z-index: -2;
					display: block;
				}
				&:before{
					background-repeat: no-repeat;
					background-position: bottom 50% right 5%;
					background-size: auto 75%;
					background-color: $trans-white;
					display: block;
					top: 75%;
					left: 0;
					bottom: 0;
					right: 0;
					z-index: -1;
					padding: 0 5%;
					text-align: right;
				}	
				&.text-caption:before{
					top: auto;
					padding: 40px 20px;
				}			
				&:hover:after,&:hover:before,&.flipped:after,&.flipped:before{
					opacity: 0;
				}
				&:hover *,&.flipped *{
					opacity: 1;
				}
				&.flipped video {
					opacity: .15;
				}
				&:hover{
					background-color: rgba(255,255,255,.85);
				}
				&.flipped{
					background-color: rgba(255,255,255,1);
				}
			}
			@media (min-width: 1366px ) {
				video{
					opacity: 1;
					display: block;
				}			
			}		
			@media (min-width: 1700px ) {
				-webkit-flex: 1 1 31%;
				flex:1 1 30%;
				max-width: 33%;
				margin: .5%;
				margin-bottom: 20px;
			}

			@media (-webkit-min-device-pixel-ratio: 2.0)
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : landscape) {
				-webkit-flex: 1 1 50%;
				flex: 1 1 50%;
				margin: 0;
			}
		}
	}	
}
.caption{
	position: absolute;
	background: $trans-black;
	box-shadow: 0px 0px 3px 1px #5a5a5a;
	text-align: left;
	bottom: 0;
	color: #fff;
	padding: 5px;
	h3{
		@extend .accent;
		text-align: left;
		font-size: $font-size-h3 * 1;
	}
	p{
		font-size: $font-size-small;
		line-height: 1.2
	}
	ul,li{
		font-size: $font-size-small * .75;
	}
	.btn{
		margin-right: 20px;
		padding: 4px 5px;
		line-height: 1em;
		font-size: $font-size-small;
	}
	@media (min-width: $grid-float-breakpoint) {
		padding: 15px;
		p{
			font-size: $font-size-base;
			line-height: $line-height-base;
		}
		ul,li{
			font-size: $font-size-base * .75;
		}
		h3{
			font-size: $font-size-h3 * 1.5;
		}
		.btn{
			padding: 6px 12px;
			font-size: $font-size-base;
			line-height: $line-height-base;
		}
	}
	@media (min-width: $screen-md-min ) {
		padding: 10px 40px;
		p{
			font-size: $font-size-base;
		}
		ul,li{
			font-size: $font-size-base*.8;
		}
		h3{
			font-size: $font-size-h3 * 1.75;
		}
	}
	@media (min-width: $screen-lg-min ) {
		padding: 10px 40px;
		p{
			font-size: $font-size-large;
		}
		ul,li{
			font-size: $font-size-large*.8;
		}
		.btn{
			font-size: $font-size-large;
		}
	}
}
.media{
	margin-bottom: 30px;
	.media-left{
		width: 64px;
		height: auto;
		img{
			border-radius: 50% 50%;
		}
	}
}
.push-down{
	margin-top: 20px;
}
.offset15{
	margin-left: 15px;
	margin-right: 15px;
}
.rate{
	text-transform: capitalize;
}
.full-panel{
	position: relative;
}
.popover{
	max-width: 100%;
	h5{
		margin: 3px 0;
	}
	ul{
		padding-left: 20px;
		margin-bottom: 0;
		padding-bottom: 10px;
	}
}
span.amp {
   font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
   font-size:110%;
   font-style:italic;
}