.post-type-archive-bios  .equal{
	.flex-child{
		padding: 0;
		@media (min-width: $screen-sm-min ) {
			max-height: 450px;			
			-webkit-flex: 0 1 30%;
			flex:0 1 30%;
			&:hover{
				overflow-y: auto;
			}				
		}
		@media (min-width: 1366px ) {
			-webkit-flex: 0 1 30%;
			flex:0 1 30%;
		}
		@media (min-width: 1700px ) {
			-webkit-flex: 0 1 24%;
			flex:0 1 24%;
		}
		&.text-caption:before{
			padding: 10px 20px;
		}		
	}
}