body.home{
	padding: 0;
	.bg{
		position: absolute;
		width: 100%;
	}
	#content{
		width: 100%;
		height: 100%;
		padding: 0;
		top: 0;
		display: block;
		>.row{
			margin-left: 0;
			margin-right: 0;
			position: relative;
		}
	}
	.banner{
		position: absolute;
		top: $navbar-height + 10px;
		background-color: #fff;
		box-shadow: 0px 0px 3px 1px #5a5a5a;
		padding: 20px 10px;
		opacity: .6;
		h1{
			font-size: $font-size-h1 * .75;
			color: #000;
			margin: 0;
		}
		h2{
			color: $brand-primary;
			font-size: $font-size-h2 * .75;
			margin: 0;
			padding-left: 1em;
		}
		h3{
			text-align: right;
			font-size: $font-size-h3 * .75;
			font-family: 'Waiting for the Sunrise', cursive;
			font-style: italic;
			text-transform: none;
			color: darken($link-color,20%);
		}
		&:hover{
			text-decoration: none;
		}
		@media (min-width: $grid-float-breakpoint) {
			top: $navbar-height + 20px;
			h1{
				font-size: $font-size-h1 * 1.5;	
			}
			h2{
				font-size: $font-size-h2 * 1.5;
			}
			h3{
				font-size: $font-size-h3 * .75;
			}
		}
		@media (min-width: $screen-md-min ) {
			top: $navbar-height + 30px;
			h1{
				font-size: $font-size-h1 * 2;
			}
			h2{
				font-size: $font-size-h2 * 2;
			}
			h3{
				font-size: $font-size-h3 * .75;
			}
		}
		@media (min-width: $screen-lg-min ) {
			top: $navbar-height + 50px;
			h1{
				font-size: $font-size-h1 * 3;
			}
			h2{
				font-size: $font-size-h2 * 1.5;
			}
			h3{
				font-size: $font-size-h3 * 1.25;
			}
		}
	}
	.main{
		h1{
			text-align: center;
			line-height: .9em;
			small{
				font-size: 85%;
			}
		}
		@media (min-width: $screen-md-min ) {
			h1{
				padding: 75px 0;
				line-height: 1.1;
			}
		}
		a,a:link,a:hover{
			display: inline-block;
			padding: 20px;
			color: $brand-primary;
			text-decoration: none;
			height: 60px;
			img{
				width: auto;
				height: 100%;
				-webkit-transition: all .5s ease-in-out;
				-moz-transition: all .5s ease-in-out;
				transition: all .5s ease-in-out;
			}
		}
		a:hover{
			color: $brand-secondary;
			img{
				transform: rotate(180deg);
			}
		}
		small{
			a,a:link,a:hover{
				padding: 0;
				height: auto;
				display: inline;
				color: $link-color;
			}
			a:hover{
				color: $brand-primary;
			}
		}
	}
	h2{
		font-family: "Roboto";
		font-weight: 900;
		color: #ffffff;
		display: block;
		text-align: center;
		padding: 10px;
		@media (min-width: $screen-md-min ) {
			padding: 200px;	
		}
		small{
		    color: #ffffff;
			display: block;
			border-top: 1px solid #ffffff;
			margin-top: 40px;
			padding-top: 40px;	
		}
	}
	.examples{
		text-align: center;
		a{
			width: 75%;
			margin: 100px auto;
			display: inline-block;
			position: relative;
			-webkit-transition: all .25s ease-in-out;
			-moz-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
			img{
				position: absolute;
				margin: auto;
				top: 0;
				bottom: 0;
				max-height: 200px;
			}
		}
		@media (min-width: $screen-md-min ) {
			a{
				width: 25%;
				margin: 150px 30px;				
			}
		}
	}
	.base{
		color: $gray;
		padding: 30px;
	}
	.text-center{
		padding: 100px;
	}
	a.btn{
		font-weight: 900;
		font-size: 42px;
	}	
}